@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Some introduction. Learn about <a href="//https://1c-dn.com/">1C Platform to develop business applications</a>.</p>
</div>
