@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This web site is made for aducational purpose. The author doesn't own any trademarks.
    Some materials are taken from <a href="https://1c-dn.com/">1C official website</a>.
</p>
